module com.greetings {
	requires jdk.packager;
	requires jdk.packager.services;
	requires java.logging;
	requires javafx.base;
	requires javafx.controls;
	//requires javafx.deploy;
	requires javafx.fxml;
	requires javafx.graphics;
	requires javafx.media;
	requires javafx.swing;
	requires javafx.web;
	requires java.compiler;
	requires jdk.management;
	requires java.base;
	%REQUIRED_MODULE%
	exports %PACKAGE_NAME%;
}